.border-cart {
  border: 1px solid grey;
  border-radius: 6px;
  padding: 15px;
}

.exp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart {
  margin-top: 50px;
}

.but-com {
  text-align: center;
  align-items: center;
}

.order-not-paid ul {
  list-style: none;
  margin-left:0;
  padding-left:0;
}

.go-paid {
  margin-top: 15px;
}
