// Specific CSS for your home-page

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
}

.banner h1 {
  margin: 0;
  color: ghostwhite;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  font-size: 48px;
  font-weight: bold;
  padding: 20px;
}

.banner p {
  font-size: 20px;
  color: ghostwhite;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  padding: 20px;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: lightgreen;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: lightgreen;
  color: white;
}

.value_prop {
  background: lightgreen;
}


.carousel-inner {
  display: flex;
}

.product-section-promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.promo-product .card-product img {
  height: 300px;
  width: 320px;
  padding: 50px;
}

.promo-product .card-product-infos {
  text-align: center;
}

.carousel-item .card-product {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}


.carousel-item .card-product img{
  height: 300px;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.salespic img {
  width: 80px;
}
