// Import page-specific CSS files here.
@import "home";
@import "show";
@import "cbd_world";
@import "contact";

.product-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
