.show-case{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.detail-case{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;
  border-radius: 5px;
  margin-top: 10px;
}

.atout{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

.atout-card{
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  background-color: white;
}

.details{
  margin-top: 40px;
  text-align: center;
}

.details h3{
  text-align: left;
}
