<h1>Liste de nos fleurs en vente</h1>

<h2>Les fleurs du mal :</h2>

<div class="product-section">
  <div class="card-product">
    <a href="https://www.google.com/">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    </a>
    <div class="card-product-infos">
      <div>
      <a href="https://www.google.com/">
      <h2>Flower name</h2>
      </a>
      <p>Ratio CBD</p>
      </div>
      <h2 class="card-product-pricing"> X €</h2>
    </div>
    <div class="card-product-cta">
      <div class="btn btn-primary">
        <a href="https://www.google.com/" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
</div>
