<h1>Liste de nos fleurs en vente</h1>

<h2>Fleurs du moment :</h2>

  <div class="product-section">
    <div class="card-product">
      <a href="google"></a>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-product-infos">
        <div>
          <h2>Flower name
          <a href="">Découvrir</a>
          </h2>
          <p>Flower description</p>
          <a href="">Commander</a>
        </div>
        <h2 class="card-product-pricing"> X €</h2>
      </div>
    <div class="card-product">
      <a href="google"></a>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-product-infos">
        <div>
          <h2>Flower name
          <a href="">Découvrir</a>
          </h2>
          <p>Flower description</p>
          <a href="">Commander</a>
        </div>
        <h2 class="card-product-pricing"> X €</h2>
    </div>
  </div>
