<div class="cart">
  <div class="order-not-paid">
    <ul>
      <% @user.orders.where(paid: false).each do |order| %>
        <li><%= render "card_order", order: order %></li>
      <% end %>
    </ul>
  </div>
  <div class="go-paid">
    <div class="exp">
      <p><%= @user.orders.where(paid: false).count %> Articles</p>
      <p><% @total = 0 %>
      <% @user.orders.where(paid: false).each do |order|%>
        <% @total += order.flower.price %>
        <%= @total %>€
      <% end %></p>
    </div>
    <div class="exp">
      <p>Expédition</p>
      <p>gratuite</p>
    </div>
    <hr>
    <div class="exp">
      <p>Total TTC</p>
      <p><%= @total %></p>
    </div>
  </div>
</div>
