<h1>My orders</h1>


<ul>
  <%= @orders.each do |order| %>
  <li>Order amount : <%= order.total_amount %></li>
  <li>Order date : <%= order.created_at %></li>
  <li>Paid ? <%= order.paid %></li>
  <% end %>
</ul>
