<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.sudouest.fr/7792911/1000x500/cbd-saint-pee.jpeg?v=1642522826);">
  <div class="container">
    <h1><strong>CBD World</strong></h1>
    <h2>Relax yourself with premium products from all over Europe.</h2>
  </div>
</div>
<div id="div-text" class="container">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Qu'est-ce que le CBD ?
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          Le <strong>chanvre</strong> fait parti de la famille des <strong>cannabaceae</strong>,&nbsp;cette plante millénaire se compose d'une centaine de <strong>cannabinoïdes</strong> dont on étudie encore leurs effets. Les cannabinoïdes les plus connus sont le <strong>Tétrahydrocannabinnol</strong>&nbsp;<strong>(THC)</strong>et le <strong>Cannabidiol (CBD)</strong>. Contrairement au THC qui est un psychotrope, le <strong>CBD</strong> ne l'est pas, au contraire le CBD est connu pour ses effets <strong>relaxants</strong> et <strong>déstressant.</strong>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Le CBD est-il légal ?
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          En premier lieu, il est important de rappeler ce que dit la législation française (Article R. 5132-86 du Code de la santé publique dans sa version modifié du 24/02/2004 par arrêté):</p><blockquote><p>Au sens de l'article R. 5181 du code susvisé, sont autorisées la culture, l'importation, l'exportation et l'utilisation industrielle et commerciale (fibres et graines) des variétés de Cannabis sativa L. répondant aux critères suivants :<br>-la teneur en delta-9-tétrahydrocannabinol de ces variétés n'est pas supérieure à 0,20 % ;</p></blockquote><blockquote><p></p></blockquote><p>En second lieu le 19/11/2020 la cour de justice de l'Union Européenne considère que l'interdiction du <strong>cannabidiol</strong> naturel est contraire au droit européen.</p><p>Sur <strong>CBD World</strong> nous sélectionnons les meilleurs produits à base de chanvre avec un taux de THC inférieur au taux maximal <strong>légal autorisé en France</strong>.&nbsp;</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Quels sont les produits dérivés du CBD ?
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          Sur <strong>CBD World</strong> vous trouverez comme produit de <strong>CBD légal</strong> :<br>- Huiles de CBD<br>- Crèmes de CBD<br>- Boissons et Tisanes<br>- Gélules<br>- E-liquide à vapoter<br>- Cristaux de CBD<br>- Fleurs de CBD<br>- Résines de CBD</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Le CBD est-il dangereux pour la santé ?
          </button>
        </h2>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
          Un&nbsp;comité d'experts en pharmacodépendance de l'OMS a conclu lors d'<a href="https://www.who.int/features/qa/cannabidiol/fr/" rel="nofollow" target="_blank"><span style="color: #5ba356;"><strong>une réunion&nbsp;de l'OMS concernant le CBD</strong></span></a>&nbsp;fin 2017&nbsp; que le CBD&nbsp;en lui-même n'est ni dangereux,&nbsp;ni nocif pour la santé. Cependant, même si le CBD n'est pas considéré comme un "médicament", nous vous conseillons de respecter la posologie conseillée et d'éviter un sur dosage. En effet, le cannabidiol ayant des effets relaxant favorisant le sommeil, il est déconseillé de conduire après la prise de CBD. De même que cela soit pour le tabac ou pour tout dispositif de vapotage il n'est pas recommandé de vapoter lorsqu'on est enceinte.</p>
        </div>
      </div>
    </div><div class="card">
      <div class="card-header" id="headingFive">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Quels sont les effets du CBD ?
          </button>
        </h2>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
        <div class="card-body">
          Alors que le<strong> Cannabaceae&nbsp;</strong>est connu depuis la nuit des temps, les études sur les effets de la molécule de CBD sur l'organisme sont récentes. Des études confirment les principaux effets ci-dessous:&nbsp;<br>- Le CBD atténuerait la douleur grâce à son effet antalgique (<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5549367/" rel="nofollow" target="_blank">étude 2017</a>)<br>- Le CBD aurait un effet anti-inflammatoire (<a href="https://pubmed.ncbi.nlm.nih.gov/17157290/" rel="nofollow" target="_blank">étude 2007</a>)<br>- Le CBD aurait des effets anxiolytiques (<a href="https://pubmed.ncbi.nlm.nih.gov/26711860/" rel="nofollow" target="_blank">étude de 2016</a>)<br>- Le CBD aurait un effet&nbsp;<a href="https://www.santelog.com/actualites/cannabidiol-il-induit-aussi-un-effet-antidepresseur-prolonge" rel="nofollow" target="_blank">d'antidépresseur</a></p><p>D'autres études sont encore en cours sur les effets positifs du CBD sur les symptômes de certaines maladies graves comme le cancer.&nbsp;</p><p>L'utilisation du CBD est à prendre avec modération, nous vous conseillons de consulter votre médecin surtout si vous êtes déjà sous traitement médicamenteux.
        </div>
      </div>
    </div><div class="card">
      <div class="card-header" id="headingSix">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            Expédition rapide et discrète
          </button>
        </h2>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
        <div class="card-body">
          Pour toute commande passée avant 16h nous faisons en sorte d'expédier votre commande le jour même dans un carton bien discret. Le délai de livraison varie selon le&nbsp;transporteur choisi, et nous nous engageons à vous fournir un numéro de suivi pour suivre votre colis.
        </div>
      </div>
    </div>
  </div>
</div>
