<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1604660664082-3cac347079b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);">
  <div class="container">
    <h1><strong>Best CBD</strong> in town delivered to your doorstep <strong>in 15 minutes</strong> !</h1>
    <p>Relax yourself with premium products from all over Europe.</p>
    <a class="btn btn-flat" href="#index">Shop now</a>
  </div>
</div>

<div class="container">
  <div>
    <h1>The best CBD network in town</h1>
      <div>
        <div>
          <h2>Fast delivery</h2>
          <p>We get your delivery in under 20 minutes.</p>
        </div>
        <div>
          <h2>Exquisite products</h2>
          <p>All our productsare organic qith high pourcentage of CBD.</p>
        </div>
        <div>
          <h2>Easy to use</h2>
          <p>Fast checkout & easy processes.</p>
        </div>
      </div>
  </div>
</div>
