.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
  border-radius: 5px;
}

.card-product-image {
  height: 150px;
  width: calc(100%-10px);
  margin: 5px;
  justify-content: center;
}

.card-product-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.card-product h3 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  align-items: center;
  text-decoration: none;
}

.card-product a {
  text-decoration: none;
  color: black;
}

.card-product a:hover {
  color: grey;
  text-decoration: underline;
}

.card-product p {
  font-size: 16px;
  margin: 0;
}

.card-product-infos {
  text-align: left;
  padding: 16px;
  color: black;
}

.card-product-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.black-button {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: black !important;
  padding: 10px 40px;
  margin-bottom: 2px;
  color: white;
}

.white-button {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: white;
  padding: 10px 40px;
  border-color: black;
  color: black;
  margin-top: 2px;
}

a.black-button {
  color: white !important;
}

.black-button:hover {
  background-color: gray !important;
  text-decoration: none;
  transition: 0.5s !important;
  color: white;
}

.card-product-buttons-merchant {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
